html, body{
    padding: 0;
    margin: 0;
}



.header{
    display: flex;
    max-width: 100%;
    background-color: red;
    padding: 10px 80px 10px 80px;
    margin-top: 40px;
}

.nav-container{
    margin-left: auto;
    align-self: center;
}

.nav-bar{
    list-style-type: none;
    
}

.nav-bar li{
    display: inline-block;
    padding: 0 10px 0 10px;
}

.nav-bar li a{
    text-decoration: none;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.about-me{
    margin: 20px;
    outline: 1px solid black;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-me img{
    max-width: 30%;
    height: auto;
}

.about-me-text{
    border: 1px solid red;
    max-width: 60%;
    align-self: center;
    padding: 10px 20px 10px 20px;
    
}

@media (max-width: 600px)
{
    .about-me{
        flex-direction: column;
    }

    .about-me-text{
        max-width: 100%;
    }

    .about-me img{
        max-width: 100%;
        
    }
}




.project-section{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    gap: 10px;
    max-width: 60%;
    min-width: 40%;
}