html, body{
    padding: 0;
    margin: 0;
}



.header{
    display: flex;
    max-width: 100%;
    background-color: red;
    padding: 10px 80px 10px 80px;
}

.nav-container{
    margin-left: auto;
    align-self: center;
}

.nav-bar{
    list-style-type: none;
    
}

.nav-bar li{
    display: inline-block;
    padding: 0 10px 0 10px;
}

.nav-bar li a{
    text-decoration: none;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.about-me{
    margin: 20px;
    outline: 1px solid black;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-me img{
    max-width: 30%;
    height: auto;
}

.about-me-text{
    border: 1px solid red;
    max-width: 60%;
    align-self: center;
    padding: 10px 20px 10px 20px;
    
}

@media (max-width: 600px)
{
    .about-me{
        flex-direction: column;
    }

    .about-me-text{
        max-width: 100%;
    }

    .about-me img{
        max-width: 100%;
        
    }
}



.project-section{
    display: flex;
    flex-direction: row;
    max-width: 60%;
    min-width: 40%;
    outline: 1px solid black;
}
.project-column{
    display: flex;
    flex-direction: column;
}

.project-card{
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 0;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;;
}
.project-picture{
    width: 85%;
    height:auto;
}

.github-icon{
    width: 26px;
}

.github-link{
    padding: 0px 3px 0 0;
}

.external-icon{
    width: 26px;
}

.external-link{
    padding: 0px 3px 0 0;
}

.project-icons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.contact-me{
    max-width: 60%;
    min-width: 40%;
    display: flex;
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
}

.contact-info{
    justify-self: flex-start;
}

.contact-picture{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.contact-picture img{
    width: 65%; /* 50% for bigger monitors */
    height: auto;
}

.contact-address p
{
    margin: 0;
}

/* .contact-me img{
    max-width: 20%;
    height: auto;
} */